<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de Equipos</title>
    <link rel="stylesheet" href="resources/estilo/Equipos.css">

</head>
<body>


<nav>
    <h1>inventario de productos</h1>

    <label for="" class="brand">
        <a href="">Logo</a>
    
    </label>
    <ul>
        <li><a href="/">inicio</a></li>
        <li><a href="/cliente">cliente</li>
        <li><a href="/colab">COLABORADOR</a></li>
    </ul>
</nav>
   
<table>

</table>
    
</body>
</html>
