<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de Equipos</title>
    <link rel="stylesheet" href="resources/estilo/Equipos.css">
</head>
    <body>

    <div class="contenedor-boton">
        <button class="float" > <a href="/resequipo">Agregar</a>
    </div>
    </header>
        <section class="sidebar">
    </section>

    </body>
</html>
