<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/resources/estilo/Loggin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body class="body">

<div class="card"></div>

<div class="login">
<form action="/login" id="loginForm" method="POST">
<img loading="lazy" src="/IMAGENES/LOGO.png" class="LogoInfo">  


<!--Apartado para nombre de usuario-->
<label>Username</label>
<input type="text" id="usuario" name="usuario" required>

<label>Contraseña</label>
<div class="password-container">
    <input type="password" id="password" name="contrasena" required>

    <div class="EyeImg" type="button">
    <i  id="viewPassword" class="fa fa-eye"></i>    
    </div>
    
</div>

<!--Boton para enviar formulario-->
<button type="submit">Aceptar</button>
</form>

<div id="errorNotification" class="hidden">Usuario o contraseña incorrectos</div>
</div>

<script src="/resources/public/javascript/scripts.js"></script>
</body>
</html>
