<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="resources/estilo/Loggin.css">
</head>
<body>
    
<div class="login">

<form action="/login" method="POST">
<h1>Login 游딓</h1>

<!--Apartado para nombre de usuario-->
<label>Username</label>
<input type="text" id="usuario" name="usuario" required>

<!--Apartado para contrase침a-->
<label>Contrase침a</label>
<input type="Contrase침a" id="contrase침a" name="contrase침a" required>

<!--Boton para enviar formulario-->
<button type="submit">Aceptar</button>
</form>

</div>

</body>
</html>
