<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Equipo</title>
    <link rel="stylesheet" href="resources/estilo/RegistroEquipos.css">
</head>
<body>
    <nav>
        <h1>Registro de Equipos</h1>
    
        <label for="" class="brand">
            <a href="">Logo</a>
        </label>

        <ul>
            <li><a href="/">inicio</a></li>
            <li><a href="/clientes">cliente</li>
            <li><a href="/colab">COLABORADOR</a></li>
        </ul>

    </nav>

    <div class="container">
        <!-- Header -->
        <div class="header">
            <a href="#" class="back-btn"> < Volver</a>
            <h1>Equipo</h1>
            <button class="save-btn">Guardar</button>
        </div>
        
        <!-- Formulario -->
        <div class="main">

            <!-- Imagen y Datos del Equipo -->
            <div class="left-panel">
                <div class="image-upload">
                    <div class="image-placeholder">Arrastre o haga clic</div>
                </div>
                <label>Nombre</label>
                <input type="text" placeholder="Ingrese el nombre">
                <label>Identificador</label>
                <div class="identifier">
                    <input type="text" placeholder="Generado autom谩ticamente">
                    <button class="refresh-btn"></button>
                </div>
                <label>Fecha de validez</label>
                <input type="date">
            </div>

            <!-- Secci贸n de Tabs -->
            <div class="right-panel">
                <!-- Stock y Tabs -->
                <div class="top-section">
                    <div class="stock-section">
                        <div class="stock-icon"></div>
                        <span>Stock</span>
                    </div>
                </div>

                <!-- Tabs -->
                <div class="tabs">
                    <button class="tab_General" onclick="openTap(event,'General')">General</button>
                    <button class="tab_Especificaciones" onclick="openTap(event,'Especificaciones')">Especificaciones</button>
                    <button class="tab_Anexos" onclick="openTap(event,'Anexos')">Anexos</button>
                    <button class="tab_Movimientos" onclick="openTap(event,'Movimientos')">Movimientos</button>
                    <button class="tab_Tareas" onclick="openTap(event,'Tareas')">Tareas</button>
                </div>

                <!-- Contenido de Tab General-->
                <div class="tab-Descripci贸n" id="Descripci贸n">
                    <label>Descripci贸n</label>
                    <textarea placeholder="Ingrese la descripci贸n"></textarea>
                    
                    <label>Categor铆a</label>
                    <select>
                        <option>Seleccione una categor铆a</option>
                    </select>

                    <label>Asociar al equipo</label>
                    <input type="text" placeholder="Identificador o nombre">
                    <button class="search-btn"></button>
                </div>

                <!-- Contenido de Tab Especificaciones-->
                <div class="tab-vista-Especificaciones" id="Especificaciones-vista">
                <label>Descripci贸n</label>
                <textarea placeholder="Ingrese la descripci贸n"></textarea>
                <label>Categor铆a</label>

                <select>
                <option>Seleccione una categor铆a</option>
                </select>

                <label>Asociar al equipo</label>
                <input type="text" placeholder="Identificador o nombre">
                <button class="search-btn"></button>
                </div>
            
                <!-- Contenido de Tab Anexos-->
                <div class="tab_vista_Anexos" id="Anexos-vista">
                    <label>Descripci贸n</label>
                    <textarea placeholder="Ingrese la descripci贸n"></textarea>
                    <label>Categor铆a</label>
    
                    <select>
                    <option>Seleccione una categor铆a</option>
                    </select>
    
                    <label>Asociar al equipo</label>
                    <input type="text" placeholder="Identificador o nombre">
                    <button class="search-btn">Т</button>
                    </div>

                    <!-- Contenido de Tab Tareas-->
                <div class="tab-vista-Tareas" id="Tareas-vista">
                    <label>Descripci贸n</label>
                    <textarea placeholder="Ingrese la descripci贸n"></textarea>
                    <label>Categor铆a</label>
    
                    <select>
                    <option>Seleccione una categor铆a</option>
                    </select>
    
                    <label>Asociar al equipo</label>
                    <input type="text" placeholder="Identificador o nombre">
                    <button class="search-btn">Л</button>
                    </div>
                    
        </div>
   
        <script src="resources/javascript/RegistroEquipos.js"> </script>    
    </div>
    
</body>
</html>
