<!doctype html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="resources/estilo/RegistroProductos.css">
    <title>RegistroDeProductos</title>  
</head>

<nav class="active" id="nav">    
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/colab">Cliente</a></li>
        <li><a href="/ver-equipos">Colaborador</a></li>
        <li><a href="/ver-productos">Equipo</a></li>
        <li><a href="/servicio">Productos</a></li>
        <li><a href="/tarea">Servicios</a></li>
    </ul>
    
    <button class="icon" id="toggle">
        <div class="line line1"></div>
        <div class="line line2"></div>
    </button>
</nav>



<script src="/resources/javascript/scripts.js"></script>
</body>
</html>
