<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/resources/estilo/RegistroEquipos.css">
   <link rel="stylesheet" href="/resources/estilo/inicio.css"> 
    <title>Clientes</title>
   
<body>
  <header class="header" >
    <a href="/home"><img class="logo" src="/resources/IMAGENES/LOGO.PNG"></a>
    <div class="lista">
    <ul>
      <li><a href="/clientes">Cliente</a></li>
      <li> <a href="/colab">Colaborador</a></h2></li>
      <li> <a href="/ver-equipos">Equipo</a></h2></li>
      <li> <a href="/producto">Producto</a></h2></li>
      <li> <a href="/servicio">Servicio</a></h2></li>
      <li> <a href="/tarea">Tarea</a></h2></li></ul>
    </div>
    </header>
  <section class="sidebar">
</section>
<header>
       
          <!-- Primer formulario a la izquierda -->
          <div class="offset-md-2">
            <div class="container">
              <h2>CLIENTE</h2>
            <form action="/aceptar" method="post" class="mb-3" id="formulario">
              <!-- Contenido del primer formulario -->
              <ul>
                <li>
                  <label for="nombrecliente" class="form-label">Nombre:</label>
                  <input class="form-control form-control-lg" type="text" placeholder="Nombre" aria-label=".form-control-lg example" id="namecliente" name="namecliente" required />
                </li>
                <li>
                  <label for="indentificiacion" class="form-label">Numero de indentificiacion:</label>
                  <input class="form-control form-control-lg" type="text" placeholder="identificacion" aria-label=".form-control-lg example" id="identificacion" name="identificacion" required />
                </li>
                <li>
                  <label for="razon" class="form-label">Razón Social:</label>
                  <input class="form-control form-control-lg" type="text" placeholder="Razón Social" aria-label=".form-control-lg example" id="razon" name="razon" required />
                </li>
                <li>
                  <label for="codigo" class="form-label">Codigo Externo:</label>
                  <input class="form-control form-control-lg" type="text" placeholder="Código Externo" aria-label=".form-control-lg example" id="externo" name="externo" required />
                </li>
              </ul>
           

      
    
        <ul>
            <li><a id="detalle">Detalles</a>
            <ul id="formu1"><ul>
                <li>
                  <label for="telefono" class="form-label">Teléfono corporativo:</label>
                  <input  class="form-control form-control-lg" type="text" placeholder="Adicione teléfono" aria-label=".form-control-lg example" id="telefono" name="telefono" required/><p>
                </li>
                <li>
                  <label for="correocorp" class="form-label">Correo corporativo:</label>
                  <input class="form-control form-control-lg" type="email" placeholder="Correo Corporativo" aria-label=".form-control-lg example" id="correocorp" name="correocorp" required /><p>
                </li>
                <li>
                  <label for="cliente" class="form-label">Hablar con:</label>
                  <input class="form-control form-control-lg" type="text" placeholder="Cliente" aria-label=".form-control-lg example" id="cliente" name="cliente" required/><p>
                </li>
                <li>
                  <label for="responsable" class="form-label">Responsable:</label>
                  <select id="responsable" name="responsable" class="event-colaborador"> 
                    <%  
                        const uniqueColaboradores = [];
                        results.forEach((row) => {
                            if (!uniqueColaboradores.includes(row.colaboradorNombre)) {
                                uniqueColaboradores.push(row.colaboradorNombre);
                    %>
                        <option value="<%= row.colaboradorNombre %>"><%= row.colaboradorNombre %></option>
                    <% 
                            }
                        });
                    %>
                  
                </li>
              <li>
                <label for="observar" class="form-label">Observación:</label>
                <input class="form-control form-control-lg" type="text" placeholder="Observación" aria-label=".form-control-lg example" type="text" id="observacion" name="observacion">
            </li></ul></ul>
            </li>
            <li><a id="config">Informacion</a>
              <ul id="formu2"><ul>
                <li>
                          <li>
                            <label for="postal" class="form-label">Codigo Postal:</label>
                            <input class="form-control form-control-lg" type="text" placeholder="Codigo Postal" aria-label=".form-control-lg example" type="text" id="postal" name="postal"><p>
                          </li>
                            <label for="direcion" class="form-label">Dirección:</label>
                            <input class="form-control form-control-lg" type="text" placeholder="Dirección" aria-label=".form-control-lg example" id="direccion" name="direccion" required/>
                          <li>
                            <label for="numeroext" class="form-label">Numero ext:</label>
                            <input class="form-control form-control-lg" placeholder="Numero ext" aria-label=".form-control-lg example" type="text" id="numext" name="numext" /><p>
                          </li>
                          <li></li>
                            <label for="numeroint" class="form-label">Numero int:</label>
                            <input class="form-control form-control-lg" placeholder="Numero interior" aria-label=".form-control-lg example" type="text" id="numint" name="numint" /><p>
                          </li>
                          <label for="region" class="form-label">Región:</label><br>
                          <input class="form-control form-control-lg" placeholder="Región" aria-label=".form-control-lg example" type="text" id="region" name="region" /><br>
                          <label for="ciudad" class="form-label">Ciudad:</label><br>
                          <input class="form-control form-control-lg" placeholder="Ciudad" aria-label=".form-control-lg example" type="text" id="ciudad" name="ciudad" /><br>
                          <label for="estado" class="form-label">Estado:</label><br>
                          <input class="form-control form-control-lg" placeholder="Estado" aria-label=".form-control-lg example" type="text" id="estado" name="estado" /><br>
                      </li>
                        </ul></ul>
                          </li>
                      
                </li>  
              </ul>
   
    <input type="submit" class="col" value="ENVIAR">
</form>
</div>

</div>
<script src="/resources/javascript/cliente.js"></script>
        
</header>
    
</body>
</head>
</html>