<!doctype html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="resources/estilo/RegistroProductos.css">
    <script src="/resources/javascript/scripts.js"></script>
    <title>RegistroDeProductos</title>
</head>

<body>
<nav class="active" id="nav">
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/clientes">Cliente</a></li>
        <li><a href="/colab">Colaborador</a></li>
        <li><a href="/producto">Producto</a></li>
        <li><a href="/ver-equipos">Equipos</a></li>
        <li><a href="/servicio">Servicio</a></li>
        <li><a href="/tarea">Tarea</a></li>
    </ul>
    <button class="icon" id="toggle">
        <div class="line line1"></div>
        <div class="line line2"></div>
    </button>
</nav>
<div class="row">
    <div class="col-md-2">
        <div>
            <div class="card">
                <form method="post" action="/validarproducto">
                <div class="upload-area">
                    <label for="fileUpload">
                        <i class="upload-icon">⬆️</i>
                        <span>Arrastre o haga clic</span>
                    </label>
                    <input type="file" id="fileUpload" hidden />
                </div>
                <div class="input-group">
                    <label for="nombre">Nombre <span>*</span></label>
                    <input type="text" id="nombre" placeholder="Ingrese nombre" required />
                </div>    
                <div class="status">
                    <span id="statusText">Activo</span>
                    <label class="switch">
                        <input type="checkbox" id="statusToggle" checked />
                        <span class="slider"></span>
                    </div>
                </div>
            </div>
            
            <div class="main-content">
                <div class="price-inputs">
                    <div class="price-box">
                        <h3>Valor Unitario 1</h3>
                        <input type="number" step="0.01" placeholder="0.00" />
                    </div>
                    <div class="price-box">
                        <h3>Costo Unitario 2</h3>
                        <input type="number" step="0.01" placeholder="0.00" />
                    </div>
                    <div class="price-box">
                        <h3>Stock 3</h3>
                        <input type="number" step="0.01" placeholder="0.00" />
                    </div>
                    <div class="price-box">
                        <h3>Inventario 4</h3>
                        <input type="number" step="0.01" placeholder="0.00" />
                    </div>
                    <div class="price-box">
                        <h3>Con colaboradores 5</h3>
                        <input type="number" step="0.01" placeholder="0.00" />
                    </div>
                </div>
                <div class="equipment-form">
                    <h2>Especificaciones del Equipo</h2>
                    <label for="Descripcion">Descripción</label>
                    <input type="text" id="Descripcion" placeholder="Descripcion del equipo" required />
                    <label for="Categoria">Categoria</label>
                    <select type="submit" id="categoria" placeholder="Selecionar alguna categoria">
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                    <label for="fechaCompra">Fecha de Compra</label>
                    <input type="date" id="fechaCompra" />
                <button type="submit">Guardar Información</button>
            </div>
            </div>
            </form>
        </div>
        </div>
    </div>
    </body>
    </html>