body{
    height: 100vh;

    display: grid;
    grid-template-columns: 20px 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas: 
    "side header"
    "side main";
}

.header{
    background-color: #0958d8;
    grid-column: 2 / 2;
    grid-row: 1 / 2;
    }

.header ul{
display: flex;
flex-wrap: wrap;
list-style: none;
text-align: center;
margin: 50px;
font-size: 20px;
padding-left:20px ;
}
    
.header li{
padding-left: 20px;
}
    
.header a{
color: #e9e7e7;       
}

.sidebar{
background-color: #5e7fb7;    
grid-column: 1 / 2;
grid-row: 1 / 3;
}

.contenedor-boton{
    text-align: right;
    padding-right: 20px;
}
.boton-redondeado {
    background-color: #4c6da3;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.brand{
    margin-right: 5%;
    line-height: 15vh;
}

.brand a{
    color: white;
    font-size: 35px;
}