body{
    height: 100vh;

    display: grid;
    grid-template-columns: 20px 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas: 
    "side header"
    "side main";
}


.header{
    background-color: #0958d8;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.header ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
    margin: 50px;
    font-size: 20px;
    padding-left:20px ;
}

.header li{
    padding-left: 20px;
   
}

.header a{
    color: #e9e7e7;
   
}
.sidebar{
    background-color: #5e7fb7;

    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

main{
    background-color: #e9e7e7;
    padding: 30px;
    grid-area:main;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "c1 c2";
    gap:15px;
}

.card{
    background-color: #ffff;
    border-radius: 10px;
    width: 20%;
    height: 80px;
    left: 10% ;
    display:inline-block;
    transition-duration: 0.5s;
  }
  
 .card:hover{
    background-color: #979595;
 }

.display{
    display:none;
}