* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}


.header{
    background-color: #0958d8;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.header ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
    margin: 50px;
    font-size: 20px;
    padding-left:20px ;
}

.header li{
    padding-left: 20px;
   
}

.header a{
    color: #e9e7e7;
   
}


.container {
    width: 90%;
    margin: auto;
    padding: 20px;
}

.tabs {
    display: flex;
    border-bottom: 2px solid #ccc;
}

.tab-link {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: #fff;
    border-bottom: 3px solid transparent;
    font-size: 16px;
}

.tab-link.active {
    border-bottom: 3px solid #4CAF50;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input, form select, form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

form button {
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

form button:hover {
    background-color: #45a049;
}

#map {
    width: 100%;
    height: 300px;
    background-color: #eaeaea;
    margin-top: 20px;
}
